<div class="cart-section">
    <div class="cart-header">
        <p class="cart-header-item">Producto</p>
        <p class="cart-header-item">Nombre</p>
        <p class="cart-header-item">Precio</p>
        <p class="cart-header-item">Cantidad</p>
        <div class="trash-can-container">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                <path d="M10.5 1h-5a.5.5 0 0 0-.5.5V2H3a2 2 0 0 0-2 2v1h12V4a2 2 0 0 0-2-2h-1V1.5a.5.5 0 0 0-.5-.5ZM1 5h14v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2ZM11 5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5V6H11V5Z"/>
            </svg>
        </div>
    </div>
    <hr class="line-divider"></hr>
    {{#with filterById}}
        {{#each products}}
            <div class="cart-item">
                <picture>
                    <img src="/img/{{this.product.thumbnail}}" class="cart-item-img" alt="{{this.product.title}}" />
                </picture>
                <p class="cart-item-detail">{{this.product.title}}</p>
                <p class="cart-item-detail">${{this.product.price}}</p>
                <p class="cart-item-detail">{{this.quantity}}</p>
                <button class="trash-icon" data-cartid="{{../_id}}" data-productid="{{this.product._id}}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M10.5 1h-5a.5.5 0 0 0-.5.5V2H3a2 2 0 0 0-2 2v1h12V4a2 2 0 0 0-2-2h-1V1.5a.5.5 0 0 0-.5-.5ZM1 5h14v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2ZM11 5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5V6H11V5Z"/>
                    </svg>
                </button>
            </div>
        {{/each}}
    {{/with}}
    <hr class="line-divider"></hr>
    <div class="total-section">
        <h3>&nbsp;</h3>
        <h3>&nbsp;</h3>
        <h3>&nbsp;</h3>
        <h3 class="total-text">Total</h3>
        <h3 class="total-price">${{this.total}}</h3>
        <button class="cancel-purchase" data-cartid="{{filterById._id}}">Cancelar Compra</button>
    </div>
</div>

<script src="/js/shopping-cart.js"></script>
