<h1>Lista de Productos</h1>

<h2>Bienvenido {{user.first_name}}</h2>

<main>
    <section>
        <div class='contenedorProducto'> 
        {{#each products}}
            <div class="card" >
                <picture>
                <img src="/img/{{thumbnail}}" class="card-img-top" alt={{title}}/>
                </picture>
                <div class="card-body">
                    <h3 class="card-title">{{title}}</h3>
                    <p>COD: {{code}}</p>
                    <p class='precioYCant'> 
                        Precio:${{price}} Cantidad:{{stock}}
                    </p>
                </div>
                <button class="botonAgregarCarrito btn btn2" data-pid="{{_id}}">
                    Agregar al Carrito
                </button> 
            </div>
        {{/each}}
        </div>
        <div class="botonesPage">
            {{#if hasPrevPage}}
                <a href="products?page={{prevPage}}{{#if sort}}&sort={{sort}}{{/if}}{{#if limit}}&limit={{limit}}{{/if}}{{#if category}}&category={{category}}{{/if}}"><button class="btn btn2">Anterior</button></a>
            {{/if}}
            {{#if hasNextPage}}
                <a href="products?page={{nextPage}}{{#if sort}}&sort={{sort}}{{/if}}{{#if limit}}&limit={{limit}}{{/if}}{{#if category}}&category={{category}}{{/if}}"><button class="btn btn2">Siguiente</button></a>
            {{/if}}
        </div>
    </section>
</main>


<script src="/js/products.js"></script>
